/*
 * LetsLeak
 * An anonymonus social platform
 * Copyright 2014 LetsLeak
 * https://github.com/harshitdaga/letsleak
*/
/*****************************************************************************/
/* AccountInvite: Style */
/*****************************************************************************/

/*#accountInviteTemplate {
    margin: auto;
    width: 90%;
}#accountInviteTemplate input {
    width: 300px;
}

#accountInviteTemplate button {
    margin-left: 200px;
    margin-top: 10px;
}*/