<template name="Welcome">
    <div id="welcomeTempalate">
        <div class="modal fade" id="welcomeTour" tabindex="-1" role="dialog" aria-labelledby="mailBoxLable"
             aria-hidden="true">
            <div class="modal-dialog modal-lg letsleak-tour">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="bs-example" >
                        <div id="carousel-welcome-tour" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-welcome-tour" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-welcome-tour" data-slide-to="1" class="carousel-postMessageIcon"></li>
                                <li data-target="#carousel-welcome-tour" data-slide-to="2" class="carousel-messageIcon"></li>
                                <li data-target="#carousel-welcome-tour" data-slide-to="3" class="carousel-addUpdateBucketIcon"></li>
                                <li data-target="#carousel-welcome-tour" data-slide-to="4" class="carousel-bucketIcon"></li>
                                <li data-target="#carousel-welcome-tour" data-slide-to="5" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="Welcome" src="/images/tour/welcome.png">
                                    <div class="carousel-caption">
                                        <h3>how-d'ye-do!, welcome to LetsLeak</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="Post Message" src="/images/tour/postMessage.png">
                                    <!--<div class="carousel-caption">
                                        <h3>Post a message</h3>
                                    </div>-->
                                </div>
                                <div class="item">
                                    <img alt="Messages" src="/images/tour/messages.png">
                                    <!--<div class="carousel-caption">
                                        <h3>Messages</h3>
                                    </div>-->
                                </div>
                                <div class="item">
                                    <img alt="Bukcets" src="/images/tour/addUpdateBucket.png">
                                    <!--<div class="carousel-caption">
                                        <h3>Add a bucket</h3>
                                    </div>-->
                                </div>
                                <div class="item">
                                    <img alt="Buckets" src="/images/tour/bucket.png">
                                    <!--<div class="carousel-caption">
                                        <h3>Here’s your bucket</h3>
                                    </div>-->
                                </div>
                                <div class="item">
                                    <img alt="Get Started!" src="/images/tour/getStarted.png">
                                    <div class="carousel-caption">
                                        <h3>Go ahead, LetsLeak!</h3>
                                    </div>
                                </div>
                            </div>
                            <a class="hide left carousel-control" href="#carousel-welcome-tour" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-welcome-tour" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

