<template name="Index">
    <div id="indexTemplate">

        <header>
            <div class="top-header">
                <ul>
                    <li class="index-logo"><a href="/" class="LetsLeak-logo-index"><span>Lets</span><span>Leak</span></a></li>
                    <li class="top-menu"><a href="/">Login</a> <!-- | <a href="/">Menu</a> --></li>
                </ul>
            </div>

            <div class="content">
                <hgroup>
                    <h1>Naughty nothings, Silly somethings</h1>
                    <h2>If there is something itching to get out of you, LetsLeak is right here. LetsLeak is a platform where you can confess, gossip and share any high-profile info with no-names-attached.</h2>
                    <button>Invite your self</button>
                </hgroup>
            </div>
            <div class="overlay"></div>
        </header>


        <div class="wrapper">

            <main>

                <section class="module parallax parallax-1">
                    <div class="container"></div>
                </section>

                <section class="module content">
                    <div class="container">
                        <div class="index-content-icon post"></div>
                        <div class="index-content">
                            <h2>Post</h2>
                            <p>If there is something you wanna share with no-names attached, LetsLeak right here. May the world know some gossip, insider high-profile info, guilt or what-so-ever might be on your mind or rather in your tummy (with the paunch ;))</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>

                <section class="module parallax parallax-2">
                    <div class="container"></div>
                </section>

                <section class="module content">
                    <div class="container">
                        <div class="index-content-icon look"></div>
                        <div class="index-content">
                            <h2>Look</h2>
                            <p>You see you are not the only one.<br/>
                                You see,<br/>
                                there are others in the same boat, stories to reveal without the unnecessary hassles.<br/>
                                And you see,<br/>
                                LetsLeak, some are nasty, some fake and some pure divine.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>

                <section class="module parallax parallax-3">
                    <div class="container"></div>
                </section>

                <section class="module content">
                    <div class="container">
                        <div class="index-content-icon save"></div>
                        <div class="index-content">
                            <h2>Save</h2>
                            <p>Once bucket-ed, unfold your collectibles one fine day.<br/>
                                Once saved, read your bucket and browse through others’.<br/>
                                Once archived, leave the rest to LetsLeak.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>

                <section class="module parallax parallax-4">
                    <div class="container"></div>
                </section>

                <section class="module content">
                    <div class="container">
                        <div class="index-content-icon read"></div>
                        <div class="index-content">
                            <h2>Read</h2>
                            <p>Collect your broodings and safe-keep the flowing inspiration, funk and pun. Do not let them pass, Bucket them before they vanish! LetsLeak is here.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>

            </main><!-- /main -->

            <footer>
                <div class="container">
                    <div class="asides clearfix">
                        <aside>
                            <nav>
                                <ul>
                                    <li>Welcome</li>
                                    <li><a href="/">Why LetsLeak</a></li>
                                    <li><a href="/">Ground Rules</a></li>
                                    <li><a href="/">FAQ</a></li>
                                    <li><a href="/">TnC</a></li>
                                </ul>
                            </nav>
                        </aside>
                        <aside>
                            <nav>
                                <ul>
                                    <li><a href="/">Privacy</a></li>
                                    <li><a href="/">Report a Problem</a></li>
                                    <li><a href="/">Contact Us</a></li>
                                </ul>
                            </nav>
                        </aside>
                        <aside>
                            <a href="/" class="logo pull-left"></a>
          <span class="copyright pull-left">
            <small>&copy; 2014, LetsLeak.com</small>
          </span>

                        </aside>
                    </div>
                </div>
            </footer><!-- /footer -->

        </div><!-- /#wrapper -->


    </div>
</template>
