/*
 * LetsLeak
 * An anonymonus social platform
 * Copyright 2014 LetsLeak
 * https://github.com/harshitdaga/letsleak
*/
/*****************************************************************************/
/* UpdateBucketMeta: Style */
/*****************************************************************************/
#updateBucketMetaTemplate #addUpdateBucketTemplate {
    width: auto !important;
    float: none;
    position: absolute;
    bottom: 10%;
    top: 10%;
    overflow-y: auto;
}
#updateBucketMetaTemplate #addUpdateBucketTemplate #addBucketForm {
    border: none !important;
}
#addUpdateBucketTemplate  .form-control {
    width: 95%;
}