<template name="ForgotPassword">
    <div class="landing-logo-hold fpassword">
        <a href="/"> <div class="leak-logo-md"></div></a>
    </div>
    <div class="clearfix"></div>

    <div id="forgotPasswordTemplate">
        <a href="/"> <div class="leak-logo-sm">
            <span></span>
            <span></span>
        </div></a>

            <h3>Forgot Password</h3>

            <h6>In case you forgot your password, please provide LetsLeak with the following details to reset your password.</h6>

        <!-- Errors Starts -->
        <div class="alert alert-success" role="alert" id="forgotPassword-generic-success" style="display: none">
            Your password has been reset successfully. Please {{>Links key="SignIn" message="Sign in"}} to access your account.
        </div>

        <div id="forgotPassword-generic-error">
        </div>

        <div class="error-text hidden">
            <span class="FP_101 A_1004">You can't leave this empty.</span>
            <span class="FP_102 A_1005">Your password should contain at least one letter and one number.</span>
            <span class="FP_103 A_1006">Use at least 8 characters.</span>
            <span class="FP_104">Passwords don't match. Try again!</span>
            <span class="FP_105">Use at least 5 characters.</span>
            <span class="A_1001">Username provided is incorrect or invalid.</span>
            <span class="A_1003">It seems that the Security Pin you entered is incorrect. In case you forgot your Security Pin, visit {{>Links key="Report" message="Report a Problem"}}.</span>
            <!--<span class="A_1004">You can't leave password empty.</span>-->
        </div>
        <!-- Errors Ends -->

        <form class="form-horizontal" role="form" id="forgotPasswordForm">
            <!-- user name starts -->
            <div class="form-group" id="userNameGroup">
                <!--<label class="col-sm-2 control-label" for="userName">User Name</label>-->
                    <input type="text" class="form-control" title="Username" id="userName" placeholder="Username" maxlength="15" autofocus>
                    <span class="error-text"></span>
                    <span class="help-text hide">
                     Enter your LetsLeak username.
                    </span>
            </div>
            <!-- user name ends -->

            <!-- securityPin starts -->
            <div class="form-group" id="securityPinGroup">
                <!--<label class="col-sm-2 control-label" for="securityPin">Security Pin</label>-->
                    <input type="password" class="form-control" title="Security pin" id="securityPin" placeholder="Security Pin">
                    <span class="error-text"></span>
                    <span class="help-text hide">
                        Enter your Security Pin.
                    </span>
            </div>
            <!-- securityPin ends -->

            <!-- newPassword starts -->
            <div class="form-group" id="newPasswordGroup">
                <!--<label class="col-sm-2 control-label" for="newPassword">New Password</label>-->
                    <input type="password" class="form-control" title="New password" id="newPassword" placeholder="New password">
                    <span class="error-text"></span>
                    <span class="help-text hide">
                        Use at least 8 characters. Your password should contain at least one letter and one number.
                    </span>
            </div>
            <!-- newPassword ends -->

            <!-- confirmNewPassword starts -->
            <div class="form-group" id="confirmNewPasswordGroup">
                <!--<label class="col-sm-2 control-label" for="confirmNewPassword">Confirm New Password</label>-->
                    <input type="password" class="form-control" id="confirmNewPassword"
                           placeholder="Confirm new password">
                    <span class="error-text"></span>

            </div>
            <!-- confirmNewPassword ends -->

            <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brand pull-right" id="requestResetButton">Request Reset</button>
            </div>
        </form>
        <!--{{> Footer }}-->
        </div>
</template>
