<template name="Footer">
    <div id="footerTemplate">
        <div class="">
            <div class="footer">
                <!--<div class="icon-social">
                    <a href="#" target="_blank" class="fa fa-facebook"></a>
                    <a href="#" target="_blank" class="fa fa-twitter"></a>
                </div>-->
                <p class="copyright">
                    {{>Links key="AboutUs" message="Why LetsLeak" target="_blank"}} |
                    {{>Links key="GroundRules" message="Ground Rules" target="_blank"}} |
                    {{>Links key="FAQ" message="FAQ" target="_blank"}} |
                    {{>Links key="TnC" message="TnC" target="_blank"}} |
                    {{>Links key="Privacy" message="Privacy" target="_blank"}} |
                    {{>Links key="Report" message="Report a Problem"}} |
                    {{>Links key="ContactUs" message="Contact Us" target="_blank"}}
                    - &copy; 2014 LETSLEAK
                </p>
            </div>
        </div>
    </div>
</template>